

@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont.eot');
    src: url('./fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold-webfont.woff') format('woff'),
         url('./fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto-light-webfont.eot');
    src: url('./fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-light-webfont.woff2') format('woff2'),
         url('./fonts/roboto-light-webfont.woff') format('woff'),
         url('./fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothaprobol';
    src: url('./fonts/gothaprobol.eot');
    src: url('./fonts/gothaprobol.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gothaprobol.woff2') format('woff2'),
         url('./fonts/gothaprobol.woff') format('woff'),
         url('./fonts/gothaprobol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothaprolig';
    src: url('./fonts/gothaprolig.eot');
    src: url('./fonts/gothaprolig.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gothaprolig.woff2') format('woff2'),
         url('./fonts/gothaprolig.woff') format('woff'),
         url('./fonts/gothaprolig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothaproligita';
    src: url('./fonts/gothaproligita.eot');
    src: url('./fonts/gothaproligita.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gothaproligita.woff2') format('woff2'),
         url('./fonts/gothaproligita.woff') format('woff'),
         url('./fonts/gothaproligita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opensans-bold';
    src: url('./fonts/opensans-bold.eot');
    src: url('./fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-bold.woff2') format('woff2'),
         url('./fonts/opensans-bold.woff') format('woff'),
         url('./fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



