

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light.woff2') format('woff2'),   
         url('../fonts/roboto-light.woff') format('woff') ;   
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'gothapro';
    src: url('../fonts/gothaprobol.woff2') format('woff2'),
         url('../fonts/gothaprobol.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'gothapro';
    src: url('../fonts/gothaprolig.woff2') format('woff2'),
         url('../fonts/gothaprolig.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'gothapro';
    src: url('../fonts/gothaproligita.woff2') format('woff2'),
         url('../fonts/gothaproligita.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


