body {
	margin: 0;
	padding: 0;

	font-family: 'robotolight' , sans-serif;
	color: #221f1f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.main__title {
	font-family: 'gothaprobol' , sans-serif;
	color: #221f1f;
	font-size: 49px;
}

.underline {
	text-decoration: underline;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

/* -------------ХЭДЕР---------------- */
.header {

	background-color: #27273e;
	margin-bottom: 0px;
}

.header .container {
	height: 76px;
	position: relative;
}



.header .logo__wrapper {
	position: absolute;
	top: 10px;
	left: 0;
}

.contacts__wrapper {
	position: absolute;
	right: 0;
	top: 10px;
	text-align: right
}



a.contacts__phone {
	font-family: 'gothaprobol' , sans-serif;
	color: #ffffff;
}

.contacts__schedule {
	font-family: 'opensans-bold', sans-serif ;
	color:  rgba(236, 30, 121, 0.7);
	text-decoration: underline;
}


.logo__pic {
	height: 51px;
}


/* БАННЕР */

.banner {
	margin-bottom: 67px;
}

.banner__pic {
	height: 359px;
}

.maincontent__container {
	width: 880px;
	display: inline-block;
	vertical-align: top;
	margin-left: 70px;
}

/* САЙДБАР */

.maincontent__sidebar {
	width: 125px;
	display: inline-block;
	vertical-align: top;
}

.menu__list {
	margin: 0;
	padding: 0;
}


.menu__link {
	color: #ec1e79;
	font-family: 'gothaprobol' , sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	position: relative;
}

.menu__link:before {
  content: "";
  width: 24px;
  height: 18px;
  background: url('/img/main_icon.png') center center no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
}


.menu__link:hover {
  color: #000;
}

.menu__link:hover:before {
  background-image: url('./img/main_icon_hover.png');
}

.menu__link--route:before {
  background-image: url('./img/./img/feed_icon_hover.png');
}

.menu__link--route:hover:before {
  background-image: url('./img/./img/wallet_icon_hover.png');
}



/* выделение цветом активной страницы в сайдбаре */
.menu--active-page {
	color: #000000;
}
/* выделение цветом активной страницы в сайдбаре */


/* ОСОБЕННОСТИ */

.feature {
	font-family: 'gothaprolig' , sans-serif;
	font-size: 18px;
}

.feature__desc-item {
	display: inline-block;
	position: relative;
	width: 194px;
}

.feature__desc-icon {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	font-size: 320%;
	position: relative;
	display: inline-block;
	background-color: #27273e;
}

.feature__image {
	height: 31px;
}

.feature__desc-heading {
	font-family: 'gothaprobol' , sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.6px;
}

.color-dots {
	color: #cc3366; 
}


/* НОВОСТИ */

.content__image-elem {
	height: 160px;
	border-radius: 50%;
}

.content__date {
	font-size: 14px;
	color: #656464;
}

.content__desc-title{
	font-family: 'robotobold', sans-serif;
	font-size: 18px;
}

.content__text {
	font-size: 18px;
}




/* ПАГИНАЦИЯ */

.content__pagination {
	font-size: 14px;
	color: #221f1f;
}

.content__pagination-display {
	color: #656464;

}

.content__news__pagination-prev-next {
	color: #656464;
}

.pagination--active {
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: #27273e;
	color: #ffffff;

}

/* ФУТЕР */

.footer {
	height: 77px;
	background-color: #27273e;

	font-size: 14px;
	font-family: 'gothaprolig', sans-serif;
}

.footer__text {
	color: #ffffff;
}

.footer__text-bold {
	font-weight: bold;
	color: #ffffff;
}