body {
	margin: 0;
	padding: 0;

	font-family: 'roboto' , sans-serif;
	font-weight: 300;
	color: #221f1f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



a {
	text-decoration: none;
}

ul , li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	padding: 0;
	margin: 0;
}

.main__title {
	font-family: 'gothapro' , sans-serif;
	font-weight: bold;
	color: #221f1f;
	font-size: 49px;
	margin-top: 10px;
	margin-bottom: 70px;
}

.underline {
	text-decoration: underline;
}

.container {
	width: 1100px;
	margin: 0 auto;
/* 	display: flex;
flex-wrap: wrap; */
}

/* -------------ХЭДЕР---------------- */
.header {

	background-color: #27273e;
	margin-bottom: 45px;
}

.header .container {
	min-height: 76px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.header .logo {
	margin-left: 20px;
}

.contacts {
	margin-right: 20px;
	text-align: right;
}



a.contacts__phone {
	font-family: 'gothapro' , sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.contacts__schedule {
	font-family: 'opensans', sans-serif ;
	font-weight: bold;
	color:  rgba(236, 30, 121, 0.7);
	text-decoration: underline;
}


.logo__pic {
	height: 51px;
}


/* БАННЕР */

.banner {
	margin-bottom: 67px;
	text-align: center;
}

.banner__pic {
	max-height: 359px;
	min-width: 100%;
}


.maincontent {
	display: flex;
}

.maincontent__container {
	width: 870px;
	margin-left: 75px;
	display: flex;
	flex-direction: column;
}

/* САЙДБАР */

.sidebar {
	width: 130px;

	display: flex;
}

.menu__list {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.menu__item {
	text-align: left;
}

.menu__link {
	color: #ec1e79;
	font-family: 'gothapro' , sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	line-height: 4.5;
	font-size: 12px;
	transition-duration: .5s;
	display: flex;
	justify-content: center;
	align-items: center;
}



.menu__link:hover , .main__link--main-black , 
.main__link--feed-black , .main__link--wallet-black {
	color: #000000;
	text-decoration: underline;
}

.main__link--main-black:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/main_icon_hover.png') center center no-repeat;
	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.main__link--feed-black:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/feed_icon_hover.png') center center no-repeat;
	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.main__link--wallet-black:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/wallet_icon_hover.png') center center no-repeat;
	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.menu__link--main-active:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/main_icon.png') center center no-repeat;
	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.menu__link--feed-active:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/feed_icon.png') center center no-repeat;

	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
	margin-left: -5px;
}

.menu__link--wallet-active:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/wallet_icon.png') center center no-repeat;

	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
	margin-left:-3px;
}

.menu__link--main-active:hover:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/main_icon_hover.png') center center no-repeat;

	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
}

.menu__link--feed-active:hover:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/feed_icon_hover.png') center center no-repeat;

	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
	margin-left: -5px;
}

.menu__link--wallet-active:hover:before {
	content: "";
	width: 20px;
	height: 20px;
	background: url('../img/wallet_icon_hover.png') center center no-repeat;

	margin-right: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 16px;
	margin-left: -3px;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs__list {
	display: flex;
}

.breadcrumbs__item {
	margin-right: 5px;
}

.breadcrumbs__item:before {
	content: "/";

}

.breadcrumbs__item:first-child:before {
	display: none;
}

.breadcrumbs__link {
	font-style: italic;
	font-weight: 300;
	font-family: 'gothapro' , sans-serif;
	font-size: 14px;
	color: rgba(34, 31, 31, 0.8);
}

.breadcrumbs__link--active {
	color: rgba(236, 30, 121, 0.8);
	text-decoration: underline;
}

/* ОСОБЕННОСТИ */

.feature {
	font-family: 'gothapro' , sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 95px;
}

.feature__desc-elem {
	display: flex;
	justify-content: space-around;
}

.feature__desc-item {
	width: 199px;
	text-align: center;
	margin-right: 68px;
}

.feature__desc-icon {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #27273e;
}


.feature__image {
	height: 31px;

}

.feature__desc-title {
	font-family: 'gothapro' , sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	line-height: 4.68;
}

.feature__desc-text {
	line-height: 1.67;
}

.feature__desc-list {
	line-height: 1.67;
	text-align: left;
	padding: 0;
}

.feature__desc-list-item:before {
	content: '•';
	color: #cc3366;
	margin-right: 25px; 
} 

.feature__desc-list-item {
	padding-left: 5px;
}



/* НОВОСТИ */

.content {
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
}

.content__item {
	padding: 0;
	display: flex;
	flex-direction: column;
}


.content__component {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 30px;
	padding-bottom: 30px;
	display: flex;
}

.content__component:last-child {
	border: none;
	margin: 0;
	padding: 0;
}



.content__image {
	width: 160px;
	height: 160px;
	margin-right: 20px;
	display: flex;
}

.content__image-elem {
	min-width: 100%;
	border-radius: 50%;
	object-fit: cover;

}

.content__desc {

}

.content__date {
	font-size: 14px;
	color: #656464;
	line-height: 1.5;
	margin: 0px 0px 2px 0px ;

}

.content__desc-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 1.17;
	margin: 0px 0px 10px 0px ;
}

.content__text {
	font-size: 18px;
	line-height: 1.67;
	font-weight: 300;
	margin: 0;
}




/* ПАГИНАЦИЯ */

.pagination {
	text-align: center;
	font-size: 14px;
	color: #221f1f;
	margin-bottom: 70px;
}

.pagination-elem {

	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination-display {

	color: #656464;
	line-height: 1.5;
	margin-right: 20px;
}

.pagination-prev-next {

	color: #656464;
	margin-right: 1px;
	font-size: 27px;
	vertical-align: middle;
	margin-bottom: 6px;
}

.pagination-pages {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 0;
}

.pagination-item {
	width: 18px;
	height: 18px;

	margin-right: 5px;
	margin-left: 5px;

}

.pagination-link {
	color: #221f1f;
	font-weight: bold;
	line-height: 1.5;
	height: 100%;
	line-height: 18px;
}

.pagination-item--active, .pagination-item--active a{

	border-radius: 3px;
	background-color: #27273e; 
	color: #ec1e79;
}

.pagination-item:hover , .pagination-link:hover {
	color: #ec1e79;
}

/* ПРОМО */

.promo {
	margin-bottom: 57px;
	background-color: #27273e;
}

.promo .container {
	background: url('../img/promo.png') center center no-repeat;
	min-height: 173px;
	max-width: 1043px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.promo__container {
	max-width: 611px;
}

.promo__container b {
	color: #ec1e79;
	font-weight: bold;
}

.promo__text {
	color: #ffffff;
	font-family: 'gothapro' , sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px
}


/* ФИДБЭК */

.feedback .container {
	width: 700px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	border-radius: 3px;
}

.feedback__form {
	margin: 50px 70px 30px;
	display: flex;
	flex-direction: column;

}

.feedback__item {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	width: 560px;


}

.feedback__elem {
	width: 269px;

}

.feedback__input {
	padding-left: 9px;
	margin-top: 10px;
	width: 95%;
	height: 45px;
}


.feedback__label {

}

.feedback__input-comment {

}

.feedback__textarea {
	resize: none;
	height: 90px;
	padding: 9px 9px;
	width: 541px;
}

.feedback__input , .feedback__input-comment {
	border: 1px solid transparent;
	border-radius: 3px;

}

.feedback__input:focus ,.feedback__input-comment:focus {
	border-radius: 3px;
	border: solid 1px #ec1e79;
	outline: none;
}

.feedback__radio {
	display: flex;
	margin-right: 20px;
	cursor: pointer;
	align-items: center;
	position: relative;
}

.feedback__label-radio {
	width: 300px;
}

.feedback__radio-block {
	display: flex;
	flex-wrap: wrap;
}

.feedback__radio-elem{
	position: absolute;
	top: 0;
	left: -9999px;
}


.feedback__radio-elem:checked + .feedback__radio-fake {
	border: 1px solid #ec1e79;
}

.feedback__radio-elem:checked + .feedback__radio-fake:after {
	width: 8px;
	height: 8px;
}


.feedback__radio-fake {
	height: 20px;
	width: 20px;
	border: 1px solid #000000;
	border-radius: 50%;
	position: relative;
	margin-right: 6px;
}

.feedback__radio-fake:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background: #ec1e79;
	transition: all 0.2s;
}


.feedback__radio-fake:active {
	height: 20px;
	width: 20px;
	border: 1px solid #ec1e79;
	border-radius: 50%;
	position: relative;
} 

.feedback--submit {
	text-align: right;
}

.feedback__elem-submit {
	width: 139px;
	height: 45px;
	border-radius: 3px;
	background-color: #27273e;
	border: 1px solid transparent;
	color: white;
	font-family: 'gothapro' , sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s;
}

.feedback__elem-submit:hover {
	width: 139px;
	height: 45px;
	border-radius: 3px;
	background-color: #ec1e79;
	border: 1px solid transparent;
	color: white;
	font-family: 'gothapro' , sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

/* ТАРИФЫ */

.prices {
	margin-bottom: 0px;
}

.prises__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.prices__elem {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
}

.prices__logo {
	background: url('../img/prices1.jpg') center center no-repeat;
	width: 250px;
	height: 153px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.prices__logo::before {
    content: '';
    background-color: rgba(39, 39, 62, 0.85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.prices__logo-title {
	font-family: 'gothapro' , sans-serif;
	font-size: 24px;
	font-style: bold;
	line-height: 1.42;
	color: #5dd1f8;
	text-transform: uppercase;
	width: 80%;
	position: absolute;
	margin: 0;
}

.vip {
	color: #ec1e79;
}

.prices__title {
	font-family: 'gothapro' , sans-serif;
	font-size: 18px;
	font-style: bold;
	line-height: 1.17;
}

.prices__text {
	font-family: 'gothapro' , sans-serif;
	font-size: 14px;
	font-style: 300;
	line-height: 1.5;
}


/* ПАРТНЁРЫ */

.partners__container {
	width: 700px;
}

.partners__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.partners__elem {
	width: 176px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
} 

.partners__link {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.partners__logo-pic {
	max-width: 100%;
	max-height: 100%;
	filter: grayscale(100%);
	 transition: .2s;
}

.partners__logo-pic:hover {
	filter: grayscale(0);	
}



/* ФУТЕР */

.footer {
	min-height: 77px;
	background-color: #27273e;
	font-family: 'gothapro', sans-serif;
	font-weight: 300;
	overflow: hidden;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 77px;
}

.footer__text {
	color: #ffffff;
	width: 270px;
	font-size: 14px;
	margin-left: 20px;
}



.contacts-social {
	margin-bottom: 10px;
	margin-right: 20px;

}

.contacts-social__list {
	display: flex;
}

.contacts-social__item {
	margin-right: 10px;
}

.contacts-social__link {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d4d4d8;
	transition-duration: .5s;
}

.contacts-social__link:hover {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ec1e79;
}

.contacts-social__pic {

}

.footer__text-bold {
	font-weight: bold;
	color: #ffffff;
	padding-top: 10px;
	margin-bottom: 9px;
}